<div class="layout">
    <!-- Header Component -->
    <header class="header">
        <app-header></app-header>
    </header>

    <div class="main-content">
        <!-- Sidebar Component -->
        <aside class="sidebar">
            <app-sidebar></app-sidebar>
        </aside>
        <section class="content">
            <!-- Big div at the top -->
            <div class="sales-line-chart">
                Sales Line Chart
            </div>

            <!-- Two smaller divs below -->
            <div class="small-charts-container">
                <div class="product-line-chart">
                    Product Line Chart
                </div>
                <div class="customer-line-chart">
                    Customer Line Chart
                </div>
            </div>
        </section>
    </div>
</div>