<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened="true"
    fixedInViewport
    role="navigation"
  >
    <!-- <mat-toolbar color="primary">Menu</mat-toolbar> -->
    <mat-nav-list style="padding-top: 20px;">
      <a mat-list-item href="#">Logout</a>
      <a mat-list-item href="#" >Home</a>
      <a mat-list-item href="#">Regional Manager</a>
      <a mat-list-item href="#">Customer</a>
      <a mat-list-item href="#">Metrics</a>
      <a mat-list-item href="#">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
