<div class="layout">
    <!-- Header Component -->
    <header class="header">
        <app-header></app-header>
    </header>

    <div class="main-content">
        <!-- Sidebar Component -->
        <aside class="sidebar">
            <app-sidebar></app-sidebar>
        </aside>

        <!-- Stat Boxes Component and New Div -->
        <section class="content">
            <app-stat-boxes></app-stat-boxes>
            <!-- New Div Component -->
            <div class="bar-chart">
                <!-- Your content goes here -->
                <p>here comes the bar chart</p>
            </div>
        </section>
    </div>
</div>